.kpi-card {
    background: white;
    border-radius: 16px;
    padding: 24px;

    box-shadow: 0 4px 20px rgba(0,0,0,.05);

    transition: all .2s ease;

    border-top: 5px solid;
}

.kpi-card:hover {
    transform: translateY(-4px);

    box-shadow: 0 10px 25px rgba(0,0,0,.08);
}

.kpi-title {
    color: #64748B;

    font-size: 13px;

    font-weight: 600;

    text-transform: uppercase;

    letter-spacing: .5px;

    margin-bottom: 12px;
}

.kpi-value {
    font-size: 42px;

    font-weight: 700;

    color: #0F172A;
}

.kpi-footer {
    margin-top: 10px;

    font-size: 14px;

    color: #64748B;
}

/* CORES */

.azul {
    border-color: #2563EB;
}

.verde {
    border-color: #16A34A;
}

.roxo {
    border-color: #9333EA;
}

.laranja {
    border-color: #EA580C;
}

.ciano {
    border-color: #0891B2;
}